<table>
    <tr>
        <td>
            {{ upload.media_filename.replace(current_user.username + '/' , '') }}
            <br>

            <img src="{{ 'https://' + config['CLOUDFRONT'] + '/' + current_user.username + '/' + upload.media_filename }}" alt="" style="max-width: 40%">
        </td>
        <td>
            <form  method="post" action="{{ url_for('delete_image', image_id=upload.id) }}">
                <button class="btn btn-primary" type="submit">Delete image</button>
            </form>
        </td>
    </tr>
</table>